.process {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 100px;
    background-color: #222831;
    color: white;
}

.pro2 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
}

.pro2 > h1 {
    font-size: 60px;
}

.pro2 > p {
    font-size: 25px;
}

.pro2 > button {
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #008A90;
    transition: all 0.3s;
}

.pro2 > button:hover {
    padding: 20px 30px;
    font-size: 20px;
}

.pro1 > img {
    transition: all 0.5s;
}

.pro1 > img:hover {
    padding: 15px;
    height: 420px;
}