.testimonial-section {
  background-color: #222831;
  color: white;
  padding: 8rem 2rem;
}

.testimonial-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding-left: 200px;
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.testimonial-card {
  display: flex;
  align-items: center;
  background-color: #393E46;
  border-radius: 16px;
  padding: 1.5rem;
  max-width: 550px;
  width: 100%;
  gap: 1.5rem;
}

.testimonial-card img {
  width: 142px;
  height: 142px;
  border-radius: 16px;
  object-fit: cover;
}

.testimonial-content {
  flex: 1;
}

.testimonial-content .quote {
  font-size: 1rem;
  color: #e5e7eb;
  margin-bottom: 0.8rem;
}

.testimonial-content .name {
  font-weight: 600;
  font-size: 0.95rem;
}

.testimonial-content .titlee {
  font-weight: 400;
  color: #cbd5e1;
}
