.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 1rem 2rem;
}

.logo {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.nav-links a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.top-btn {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
