.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121d27;
}

.logo {
  color: #fff;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-buttons .btn {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.begin {
  background: transparent;
  color: white;
  border: 1px solid #fff;
}

.kickoff {
  background-color: #00b9bd;
  color: #fff;
}
