.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  flex-wrap: wrap;
  /* max-width: 1200px; */
  margin: 0 auto;
  gap: 50px;
  background-color: #222831;
  color: white;
}

.phone-preview {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.phone-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.text-content {
  flex: 1 1 400px;
  text-align: left;
}

.headline {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 30px;
}

.download-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.store-link img {
  height: 50px;
  transition: transform 0.3s ease;
}

.store-link img:hover {
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    text-align: center;
  }
}