.journal {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    background-color: #222831;
}

.journal > h1 {
    font-size: 95px;
    padding-top: 160px;
}

.journal > p {
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 40px;
}

.jour {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.j > img {
    padding-bottom: 20px;
}

.j > p {
    font-size: 17px;
    font-weight: lighter;
}

.j > .cls { 
   font-size: 28px;
   padding-bottom: 4px;
}